/*
body {
 background-image: url("/images/web-background.png");*/
/* background-color: #cccccc;
}*/

body {
	background: url(/images/wallpaper.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0 0;
  margin-left: 600px;
  margin-top: 100px;

}

.form-content {
	flex: center;
  background: rgb(17,27,26, 0.4);
  flex: center;
  text-align: center;
  padding: 40px;

}

input {
	background: white;
	border-color: white;
	padding: 10px;
	color: black;
	margin-top: 10px;

}

.password {
		-webkit-text-security: circle;
}

button {
	background: white;
	font-weight: bold;
	border: none;
	padding: 10px 54px 10px 54px;
	color: black;
}



.box {
  width: 300px;
  height: 300px;

}

.eventnameline {
	border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 5px 20px 5px 20px;
  list-style-type: none;


}

a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	background-color: black;
}